<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>

</header>

<main>
    <div class="jumbotron">
        <h1>Hey! It's a <%=typeDay %> it' time to <br><%=descDay %></h1>
    </div>
</main>

<footer>

</footer>

</body>
</html>